body{
    margin:0px;
    width:100%;
    height:200px;
}
.standardHeader{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 6em;
    background-color: white;
    border-bottom:solid;
    border-color: rgb(66, 66, 66);
    border-width: 3px;

}
#footer {
    position: fixed;
    margin-top: 40px;
    bottom: 0px;
    width: 100%;
    padding-top:40px;
    height: 20px;
    background: rgb(24, 23, 23);
    border-top:solid;
    border-color:rgb(18, 54, 32);
    border-width: 6px;
    z-index: -1;
}
#footerPortfolio {
    position: fixed;
    margin-top: 40px;
    bottom: 0px;
    width: 100%;
    padding-top: 40px;
    height: 20px;
    background: rgb(24, 23, 23);
    border-top: solid;
    border-color: rgb(18, 54, 32);
    border-width: 6px;
    z-index: -1;
}
.nameBox{
    position: relative;
    padding-top: 1em;
    height: 2em;
    width: 16em;
    padding-bottom: 2em;
    bottom: 177px;
    background-color: rgb(18, 54, 32);
    left: -40px;
}
.navbox{
    bottom: 240px;
    position: relative;
    padding-top: 1em;
    height: 3em;
    width: 16em;
    padding-bottom: 2em;
    right: -770px;
}
#nameBoxText{
    text-align: center;
    color:white;
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contentBox{
    position:relative;
    width: 960px;
    height: 500px;
    background-color:white;
    text-align:center;
    margin: 0 auto;
    margin-top: 52px;
    border-style: double;
    border-width: 8px;
    border-color: darkgrey;
    padding: 30px;
    margin-bottom: 100px;
}
.contentBoxPortfolio{
    position:relative;
    width: 960px;
    height: 800px;
    background-color:white;
    text-align:center;
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 200px;
    border-style: double;
    border-width: 8px;
    border-color: darkgrey;
    padding: 30px;
}
.imagecr{
    float:left;
    image-orientation:left;;
}
#tableStyle{
    width:100%;
}
.imgLilBox{
    color: white;
    position: absolute;
    bottom: -185px;
    width: 300px;
    height: 18px;
    background-color: rgb(18, 54, 32);
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#parent{
    position:relative;
}
#contentBoxHeader{
    margin-top: -170px;
    text-align: left;
    color: rgb(18, 54, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contentBoxImage{
    float:left;
    margin-right:8px;
    border-style: double;
    border-width: 8px;
    border-color: darkgrey;
}
.contentBoxText{
    text-align:left;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    color:rgb(83, 73, 73);
}
hr{
    height:2px;
    width: 100%;
    box-align: center;
    background-color:lightgrey;

}
#copyright{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:lightgrey;
}
.inputclass{
    width:358%;
}
.inputMsgBox{
    width: 358%;
    height: 260px;

}
#msgBoxResizeNo{
    resize:none;
}
#submitButton{
    color:white;
    background-color:rgb(18, 54, 32);
    width: 100px;
    height:25px;
    border:none;
}
a:link {
    color: rgb(46, 45, 45);
  }
  
  a:visited {
    color: rgb(46, 45, 45);
  }
  a:hover {
    color: rgb(46, 45, 45);
  }
  a:active {
    color: rgb(46, 45, 45);
  }
  a{
      text-decoration: none;
  }

  /* Easier to read plz------------------------------- */
  .a2{ 
    color : white; 
    text-decoration : none;
   }
  
